@using NoteFactory.Web.Controllers;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello from the server</h1>
You are collaborating in session @Model.id
<button type="button" id="disconnect" hx-post="@Url.Action(nameof(JamsController.Disconnect), new { Model.id, Model.participantId } )" hx-target="#remoteContent">Disconnect</button>

<div id="messages" hx-get="@Url.Action(nameof(JamsController.Messages), new { Model.id, Model.participantId })" hx-trigger="every 5s"></div>
<div id="messageActions">
    @Html.Partial("_SendMessageForm")
</div>