@using NoteFactory.Web.Controllers;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* note that this should match what sits in /index.html *@
<section id="remoteSection">
    <h1>Shared Session</h1>
    <article id="nameEntry">
        <form hx-post="Jams/CreateOrConnect" hx-target="#remoteSection" hx-swap="outerHTML">
            <label for="participantName">Name:</label><input type="text" name="participantName" placeholder="Your name" required />
            <button type="submit">Next</button>
        </form>
    </article>
</section>