:root {
    --color-primary-bg: #191c32;   
    --color-secondary-bg: white; 
    --color-tertiary-bg: #4c269a;
    --color-primary-action: #f1884e;
    --color-secondary-action: #ffdfaf;    
    --color-primary-text: #dde6e8;
    --color-highlight-text: #f1884e;    
}

body {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
}

button {    
    color: var(--color-primary-bg);
}

.mainContainer {
    display: grid;
    
    grid-template-areas:
        "head1-1 head1-2 head1-3"        
        "content content sidebar";
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    align-items: start;
    gap: 20px;
}

#parametersSection {
    grid-area: head1-1;    
}

#envelopeSection {
    grid-area: head1-2;
}

#actionsSection {
    grid-area: head1-3;
}

#remoteSection {
    grid-area: sidebar;    
}

#remoteSection #messages {
    overflow-y: auto;
    max-height: 40vh;
}

#gridSection {
    grid-area: content;
    overflow-x: auto;
}

.step {
    background-color: var(--color-tertiary-bg);
}

.step.active {
    background-color: var(--color-secondary-action);
}

.note {
}

tr[data-note $= '5'] td.note {
    /*filter: saturate(150%);*/
    backdrop-filter: saturate(175%);
}

tr[data-note $= '3'] td.note {
    /*filter: saturate(65%);*/
    backdrop-filter: saturate(55%);
}

.note.selected {
    background-color: var(--color-primary-action);
}

.noteGrid th,
.noteGrid td {
    min-width: 30px;
    min-height: 30px;
    aspect-ratio: 1;
}

.noteGrid th {
    background-color: var(--color-secondary-bg);
    color: var(--color-primary-bg);
}

.noteGrid thead tr th:first-child {
    background-color: var(--color-primary-bg);
}

#messages .author {
    font-weight: bold;
}
